@import '../../colores'
#Header
  height: 128px
  background-color: $rojo_1
  position: relative
  hr
    border: none
    height: 1px
    background-color: $rojo_3
    position: absolute
    top: 7px
    left: 100px
    right: 0
    margin: 0 auto
    max-width: 1000px
    width: 300px
  .header
    display: grid
    grid-template-columns: 422px 250px
    grid-template-rows: 73px 55px
    // grid-template-areas: "menu buscador" "menu buscador"
    justify-content: end
    align-items: center
    .logo
      margin: 0
      margin-left: 52px
      height: 55px
      // grid-area: menu / buscador
      grid-column: 1
      grid-row: 1
      img
        height: 80px
        width: 100%
    .menu
      padding: 0
      margin: 0
      display: none
      // display: grid
      grid-template-columns: repeat(3, 140px)
      list-style: none
      grid-column: 1
      grid-row: 2
      // grid-area: menu
      li:nth-of-type(1)
        margin-left: 5px
      a
        text-decoration: none
        color: #ffffff
        &:hover
          text-decoration: underline
    #form
      // grid-column: span 2
      grid-column: 2 / 3;
      grid-row: 2
      position: relative
      // grid-area: buscador
      input
        background: transparent
        border: none
        color: white
        border-bottom: 1px solid $rojo_3
        outline: none
        width: 100%
        &:focus ~ .lupa
          background: transparent
      .lupa
        content: " "
        background: url('../../img/lupa.png')
        height: 22px
        position: absolute
        left: 0
        bottom: 0
        width: 22px
      .resultSearch
        position: absolute
        height: auto
        max-height: 400px
        top: 38px
        // overflow-y: scroll
        background: $rojo_1
        width: 100%
        z-index: 10
        ul
          list-style: none
          margin: 0
          padding: 0 5px
          h3
            font-weight: 400
          a
            text-decoration: none
            color: #ffffff
        &::-webkit-scrollbar
          width: 0.5em
        &::-webkit-scrollbar-track
          box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
        &::-webkit-scrollbar-thumb 
          background-color: $gris_1
          outline: 1px solid $gris_1
      .close
        position: absolute
        top: 35px
        right: 12px
        cursor: pointer
        font-size: 20px
        font-weight: 700
        color: #ffffff
        z-index: 11


@media screen and (max-width: 768px)
  #Header
    height: auto
    padding-bottom: 20px
    hr
      left: 0
    .header
      grid-template-columns: 300px
      justify-items: center
      justify-content: center
      .logo
        margin: 0
        grid-column: span 3
      .menu
        justify-items: center
        grid-template-columns: repeat(3, 68px)
        font-size: 14px
      #form
        grid-row: 3
        grid-column: span 3
        justify-self: start
        margin-left: 32px
        width: 89%
  